MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=legallingo
CORS_ORIGINS=http://localhost:5173,https://legallingo.vercel.app,https://legallingo.com
NODE_ENV=production
